#notificationWindow {

    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #333;
    -fx-alignment: center;
    visibility: hidden;
}

#notificationTriangle {
    -fx-alignment: center;

}

#notificationList {
    -fx-pref-width: 300;
    -fx-pref-height: 150;
}

#notificationTitle {
    -fx-background-color: lightblue;
    -fx-text-fill: #333333;
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-font-size: 24px;
    -fx-alignment: baseline-left;
}