

* {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
}

/**

EVENT/CALENDAR

**/

#weekGrid {
    -fx-background-color: #121314;
}

/**

SIDEPANE/CALENDARS

**/

#calendarCalendarsView {
    -fx-background-color: #26272B;
}

/**

HEADER

**/

#calendarHeaderView {
    -fx-background-color: #26272B;
}

#headerGridPane {
    -fx-background-color: #121314;
}

/**

NOTIFICATIONS

**/

#notificationWindow {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #187E96;
    -fx-alignment: center;
    visibility: hidden;
}

#notificationTriangle {
    -fx-alignment: center;
    -fx-fill: #187E96;
}

#notificationList {
    -fx-pref-width: 300;
    -fx-pref-height: 150;
}

#notificationTitle {
    -fx-background-color: #187E96;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-font-size: 24px;
    -fx-alignment: baseline-left;
}
.button {
-fx-font-size: 13.0px;
-fx-base: #00a7d4;
-fx-background: #e5f3f6;
-fx-focus-color: #0093FF;
-fx-control-inner-background: #FFFFFF;
-fx-text-base-color: #FFFFFF;
-fx-background-color:#187E96;
-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
-fx-background-insets: 0px;
-fx-background-radius: 0px;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
-fx-text-fill: -fx-text-base-color;
-fx-alignment: CENTER;
-fx-content-display: LEFT;
}


.button:hover {
-fx-focus-color: #FF0000;
-fx-background-color: #ED9C28, #0187ab;
}
