

* {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
}

/**

EVENT/CALENDAR

**/
#subscribeCalendarList .list-cell {
	-fx-background-color: transparent;
	
}

#calendarList .scroll-bar:horizontal {
	visibility: hidden;
}
 
#userGroupCalendar .list-cell{
	-fx-text-fill: black;
}
#inUsersView .list-cell {
	-fx-text-fill: black;
}   

#outUsersView .list-cell {
	-fx-text-fill: black;
}   

#weekGrid {
    -fx-background-color: #4c4f51;
}
#weekTimeGrid {
    -fx-background-color: #4c4f51;
}

/**

SIDEPANE/CALENDARS

**/

#calendarCalendarsView {
    -fx-background-color: #26272B;
}

#newCalendarButton {
	-fx-font-size: 30.0px;
	-fx-text-fill: #187E96;
}

/*.check-box .mark {
    -fx-shape: "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z";
}
*/
.check-box:selected .mark {
	-fx-background-color: black;
 }
 
.lightskyblue .check-box .box {
	-fx-background-color: #87CEFA;
	-fx-opacity: 0.7;
}

.lightsalmon .check-box .box {
	-fx-background-color: #FFA07A;
	-fx-opacity: 0.7;
}

.lightgreen .check-box .box {
	-fx-background-color: #90EE90;
	-fx-opacity: 0.7;
}

.yellow .check-box .box {
	-fx-background-color: #FFFF00;
	-fx-opacity: 0.7;
}

.lightpink .check-box .box {
	-fx-background-color: #FFB6C1;
	-fx-opacity: 0.7;
}

.lightcoral .check-box .box {
	-fx-background-color: #F08080;
	-fx-opacity: 0.7;
}

.beige .check-box .box {
	-fx-background-color: #F5F5DC;
	-fx-opacity: 0.7;
}

.silver .check-box .box {
	-fx-background-color: #C0C0C0;
	-fx-opacity: 0.7;
}

.aquamarine .check-box .box {
	-fx-background-color: #7FFFD4;
	-fx-opacity: 0.7;
}

.cornflowerblue .check-box .box {
	-fx-background-color: #6495ED;
	-fx-opacity: 0.7;
}

.thistle .check-box .box {
	-fx-background-color: #D8BFD8;
	-fx-opacity: 0.7;
}

/**

HEADER

**/

#calendarHeaderView {
    -fx-background-color: #26272B;
}

#headerGridPane {
    -fx-background-color: #26272B;
}

/**

NOTIFICATIONS

**/

#notificationWindow {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #187E96;
    -fx-alignment: center;
    visibility: hidden;
}

#notificationTriangle {
    -fx-alignment: center;
    -fx-fill: #187E96;
}

#notificationList {
    -fx-pref-width: 300;
    -fx-pref-height: 150;
}

#notificationTitle {
    -fx-background-color: #187E96;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-font-size: 24px;
    -fx-alignment: baseline-left;
}

/**
 
 
 New calendar
  
 **/
 
 
 #newCalendarButton:hover{
 	-fx-text-fill: #0187ab;
 }
 
 #newCalendarWindow{
 	visibility: hidden;
 	fx-background-color: transparent;
 }
 
 #newCalendarTextField{
 	-fx-text-fill: #000000;
 	
 	}
 
 #newCalendarTriangle{
 	-fx-alignment: center;
    -fx-fill: #187E96;
 }
 
 #newCalendarRectangle{
 	-fx-background-color: #187E96;
 }
 
 #addNewCalendarPaneButton{
 	-fx-background-color: #187E96;
 }
 #addNewCalendarPaneButton:hover{
 	-fx-background-color: #0187ab;
 }

.button {
	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#187E96;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}



.button:hover {
-fx-focus-color: #FF0000;
-fx-background-color: #ED9C28, #0187ab;
}

#calendar-cell {
    -fx-background-color: transparent;
}

#calendarList {
    -fx-background-color: transparent;
	
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #00a7d4;

}


.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-radius: 0em;
    -fx-background-insets: 0, 0, 0;
    }
   
.scroll-bar:horizontal .thumb{
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .track{
	-fx-background-radius: 0em;
    -fx-border-radius:0em;
    fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
}

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);
     -fx-opacity: 0.2;
     -fx-background-radius: 0em;
     
     }
     
 #adminPaneButton {
 	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#187E96;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
 }
 
 #adminPaneButton:hover {
 	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}

#userGroupPaneButton{
	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#187E96;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
}

#userGroupPaneButton:hover{
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}


.context-menu{
	-fx-background-color: #26272B;
}



